In [2]:
import pandas as pd

In [11]:
col1 = pd.DataFrame.from_dict({"a":3,"b":4,"c":1}, orient='index', columns=['col1'])
col2 = pd.DataFrame.from_dict({"b":6,"c":2,"d":4}, orient='index', columns=['col2'])
df = pd.concat([col1, col2])
df

   col1  col2
a   3.0   NaN
b   4.0   NaN
c   1.0   NaN
b   NaN   6.0
c   NaN   2.0
d   NaN   4.0